.container {
    /* position: fixed; */
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    height: max-content;
  }
  
  .logoCon {
    margin: 5em 0;
  }
  
  .logoCon > img {
    width: auto;
    height: 50px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 22.5em;
    border-radius: 0.25em;
    background-color: var(--form-bg);
    padding: 1em 2em 2em;
    margin: 1em 0;
    z-index: 6;
  }
  
  .form > h2 {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: var(--primary);
  }
  
  .form > input {
    margin-top: 1em;
    background-color: #f7f7f7;
    border: 1px solid #dee5e7;
    border-radius: 2px;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.75em 1em;
  }
  
  .form > textarea {
    margin-top: 1em;
    background-color: #f7f7f7;
    border: 1px solid #dee5e7;
    border-radius: 2px;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.75em 1em;
  }
  
  .form > textarea:focus {
    outline-color: var(--primary);
  }
  
  .form > input:focus {
    outline-color: var(--primary);
  }
  
  .form > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: #fff;
    padding: 1em 0;
    margin-top: 2em;
    border: 1px solid var(--primary);
    border-radius: 2px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
  }
  
  .error {
    margin-top: 0.5em;
    font-size: 0.8em;
    color: #f20012;
  }